@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Quicksand&display=swap');


:root {
    font-family: 'Quicksand', sans-serif;
}

h1 {
   font-family: 'Maven Pro', sans-serif;
   font-size: 64px;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 48px;
 }

 h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 36px;
 }

 h4 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 22px;
 }

 h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
 }